footer, span {
    font-family: sans-serif;
    color: rgba(0, 140, 255, 0.897);
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: hsla(234, 96%, 49%, 0.863);
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 2rem;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
} 
div {
    display: flex;
    justify-content: space-between;
}
